%h1 Show blog

.row
  %p.col-3
    %b Title
  %p.col
    = @blog.title
.row
  %p.col-3
    %b Description
  %p.col
    = @blog.description

= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-link"
\|
= link_to 'Back', blogs_path, class: "btn btn-link"
